<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ static_url("css/reveal.css") }}" />
	<link rel="stylesheet" href="{{ static_url("css/theme/black.css") }}" id="theme" />
</head>
<!-- Presentation wrapper -->
	<div class="reveal">
		<!-- Slides -->
		<div class="slides">
			<section data-background="#2ecc71">
				<h1> Big data analysis</h1> 
				<h3> Which impact on market research ?  </h3>
			</section>

			<section data-background="#2ecc71">
				<p> Question at the forum </p> 
				<h2> What is the impact of big data on market research ? </h2> 
			</section>

			<section data-background="#2ecc71">
				<h2>...But raised more questions</h2>
				<ul>
					<li> Impact on the way market research is done ?</li>
					<li> Impact on the skills of researcher ?</li>
				</ul>
			</section>

			<section data-background="#2ecc71">
				<h2> Structure of this talk </h2>
				<ol>
					<li> Big data's impact on market research field </li>
					<li> Big data's impact on researchers skills </li>
					<li> Case study </li>
				</ol> 
			</section>

			<section data-background-transition="concave" data-background="#3498db">
				<h2> Big data in practice </h2>
				<h3> Which impact on market research </h3> 
			</section>

			<section data-background-transition="slide" data-background="#3498db" data-state="infos" >
				<h3> Volume of data and spontaneity </h3>
				<h3> Real-time features  </h3>
				<h3> Lower cost of data </h3>
			</section>

			<section data-background-transition="concave" data-background="#1abc9c">
				<h2> Big data in practice </h2>
				<h3> Which impact on researcher </h3> 
			</section>

			<section data-background-transition="slide" data-background="#1abc9c">
				<h3> New jobs opportunies... </h3>
				<h3> ... new skills needed... </h3> 
				<h3> ... to produce information </h3> 
			</section>

			<section data-background-transition="concave" data-background="#e74c3c">
				<h2> Limitations  </h2>
			</section>

			<section data-background-transition="slide" data-background="#e74c3C">
				<h3> Challenging </h3>
				<h3> Expensive </h3>
				<h3> Diffuse </h3>
				<h3> New </h3>
			</section>

			<section data-background-transition="concave" data-background="#f39c12">
				<h1> Case study </h1>
				<h2> Zions Bank </h2>
			</section>
			
			<section data-background-transition="slide" data-background="#f39c12">
				<h1> Conclusion </h1>
			</section>

			<section data-background="#ecf0f1">
				<h1> Thanks ! </h1>
				<h1> Questions ? </h1>
			
			</section>

			<section data-background="#ecf0f1">
				<h1> References </h1>	
			</section>
		</div>
	</div>


	<!-- Reveal Scripts -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
	<script src="{{ static_url("lib/js/head.min.js") }}"></script>
	<script src="{{ static_url("js/reveal.js") }}"></script>
  	<script>
    $(document).ready(function() {
	  // RevealJs initialization.
	  Reveal.initialize({
		controls: false, // To hide controls to clients. They can still move the slides if they want, but won't be tempted of doing so. 
	  });
      function connect() {
        conn = new SockJS('https://' + window.location.host + '/presentation', 'websocket');

        conn.onopen = function(e) {
			console.log('Client Joined');
        };
        conn.onmessage = function(e) {
			response = JSON.parse(e.data);
			Reveal.slide(response.indexh, response.indexv, response.indexf);
        };
        conn.onclose = function() {
            disconnect();
        };
      }
      function disconnect() {
        if (conn != null) {
          conn.close();
        }
      }
	  // Connect when user has loaded the page
	  connect();		
	});
	</script>
</body>
</html>
