<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ static_url("css/reveal.css") }}" />
	<link rel="stylesheet" href="{{ static_url("css/theme/black.css") }}" id="theme" />

</head>
<!-- Presentation wrapper -->
<body>
	<div class="reveal">
		<!-- Slides -->
		<div class="slides">
			<section data-background="#2ecc71">
				<h1> Big data analysis</h1> 
				<h3> Which impact on market research ?  </h3>
			</section>

			<section data-background="#2ecc71">
				<p> Question at the forum </p> 
				<h2> What is the impact of big data on market research ? </h2> 
			</section>

			<section data-background="#2ecc71">
				<h2>...But raised more questions</h2>
				<ul>
					<li> Impact on the way market research is done ?</li>
					<li> Impact on the skills of researcher ?</li>
				</ul>
			</section>

			<section data-background="#2ecc71">
				<h2> Structure of this talk </h2>
				<ol>
					<li> Big data's impact on market research field </li>
					<li> Big data's impact on researchers skills </li>
					<li> Case study </li>
				</ol> 
			</section>

			<section data-background-transition="concave" data-background="#3498db">
				<h2> Big data in practice </h2>
				<h3> Which impact on market research </h3> 
			</section>

			<section data-background-transition="slide" data-background="#3498db" data-state="infos" >
				<h3> Volume of data and spontaneity </h3>
				<h3> Real-time features  </h3>
				<h3> Lower cost of data </h3>
			</section>

			<section data-background-transition="concave" data-background="#1abc9c">
				<h2> Big data in practice </h2>
				<h3> Which impact on researcher </h3> 
			</section>

			<section data-background-transition="slide" data-background="#1abc9c">
				<h3> New jobs opportunies... </h3>
				<h3> ... new skills needed... </h3> 
				<h3> ... to produce information </h3> 
			</section>

			<section data-background-transition="concave" data-background="#e74c3c">
				<h2> Limitations  </h2>
			</section>

			<section data-background-transition="slide" data-background="#e74c3C">
				<h3> Challenging </h3>
				<h3> Expensive </h3>
				<h3> Diffuse </h3>
				<h3> New </h3>
			</section>

			<section data-background-transition="concave" data-background="#f39c12">
				<h1> Case study </h1>
				<h2> Zions Bank </h2>
			</section>
			
			<section data-background-transition="slide" data-background="#f39c12">
				<h1> Conclusion </h1>
			</section>

			<section data-background="#ecf0f1">
				<h1> Thanks ! </h1>
				<h1> Questions ? </h1>
			
			</section>

			<section data-background="#ecf0f1">
				<h1> References </h1>	
			</section>
		</div>
	</div>

	<!-- Reveal Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
	<script src="{{ static_url("lib/js/head.min.js") }}"></script>
	<script src="{{ static_url("js/reveal.js") }}"></script>
  	<script>
    $(document).ready(function() {
	  	// RevealJs initialization.
	  	Reveal.initialize({
	  	});

      var serverFree = true;

			// A function here to notify server of slide change. RevealJs has its own event for that "slidechanged"
			notifyServer = function(event){
			  data = {
					  indexv : Reveal.getIndices().v, // Vertical Slide number
		 			  indexh : Reveal.getIndices().h, // Horizontal Slide number
		 			  indexf : Reveal.getIndices().f || 0 // Fragment index
			  }
			// As Websocket only accept string we need to use JSON.stringify to convert our object
        if (conn.readyState == SockJS.OPEN && serverFree) {
    	      conn.send(JSON.stringify(data));
            serverFree = false; // do not accept any more server response received and processed in onmessage. 
        };
      }
			// We made things simple here, binding each RevealJS event to the same Callback "NotifyServer"
  		Reveal.addEventListener("slidechanged", notifyServer);
  		Reveal.addEventListener("fragmentshown", notifyServer);
  		Reveal.addEventListener("fragmenthidden", notifyServer);

      function connect() {
				// The connexion is not really made on https, but other values (http, ws, wss) did not work
				// on Heroku. I don't have a clue about it and will be eternally grateful to anyone willing
				// to explain it to me.
        conn = new SockJS('https://' + window.location.host + '/presentation', 'websocket'); 

        conn.onopen = function(e) {
					console.log('Master joined'); // Initially to debug, but you can withdraw it.
        };

        conn.onmessage = function(e) {
					  response = JSON.parse(e.data); // Websockets use string encoding, so we need to convert that string to an object. 
					  Reveal.slide(response.indexh, response.indexv, response.indexf);
            console.log('Changement de la slide');
            serverFree = true; // ready to accept new slidechanged event. 
        };

        conn.onclose = function() {
          disconnect();
        };
    };

      function disconnect() {
        if (conn != null) {
          conn.close();
        }
      }

		// Connect after page load
		connect();		
	});
	</script>
</body>
</html>
